01_Files/.ipynb_checkpoints/
02_Datetime/.ipynb_checkpoints/
03_Pandas/.ipynb_checkpoints/
03_Pandas/Python_pandas_basics.ipynb
03_Pandas/Python_pandas_presentation_mode.ipynb
04_RE/.ipynb_checkpoints/
04_RE/Тема 4. Регулярные выражения.ipynb
05_Classes/.ipynb_checkpoints/

